/* 標籤骨架 */
.my-lable {
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    width: auto;
    border: var(--color-neutral-900) 1px solid;
    transition: 0.3s;
}
/* 藥片型/方形 */
.pill{
    border-radius: 50px;
}
.square{
    border-radius: 8px;
}

.lable-primary {
    background-color: var(--color-primary);
    color: var(--color-neutral-50);
}
/* 黃色按鈕 */
.lable-yellow{
    background-color: #FED94A;
    color: var(--color-neutral-900);
}

/* 綠色按鈕 */
.lable-green{
    background-color: #C8F55A;
    color: var(--color-neutral-900);
}

/* 白色按鈕 */
.lable-white {
    background-color: var(--color-neutral-50);
    color:var(--color-neutral-900) ;
}

.lable-disable{
    background-color: var(--color-neutral-300);
    color: var(--color-neutral-900);
}
.lable-tag{
    background-color: var(--color-neutral-50);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    cursor: pointer;
}
.lable-tag:hover{
    background-color: var(--primary-blue-500);
    color: var(--color-neutral-50);
    /* transform: translateY(-2px); */
}