/* 按鈕文字大小 */
.size-xs { font-size: var(--font-size-sm); padding: var(--spacing-1) var(--spacing-2); }
.size-sm { font-size: var(--font-size-base); padding: var(--spacing-2) var(--spacing-4); }
.size-md { font-size: var(--font-size-xl); padding: var(--spacing-2) var(--spacing-5); }
.size-lg { font-size: var(--font-size-2xl); padding: var(--spacing-3) var(--spacing-6) ; }
.tag-size{
    font-size: var(--font-size-md); padding: var(--spacing-1) var(--spacing-3) ;
}

/* 卡片文字 */
.card-title{
    font-size: var(--font-size-xl);
    font-weight:var(--font-weight-semibold);
    color: var(--color-text-primary);
    text-align: left;
}
.card-sectitle{
    font-size: var(--font-size-base);
    font-weight:var(--font-weight-semibold);
    color: var(--color-text-secondary);
    text-align: left;
}
.card-content{
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
    text-align: left;
}
.card-tag{
    font-size: var(--font-size-sm);
    color: var(--color-text-disabled);
}

/* 標籤文字 */
.lable-lg{
    font-size: var(--font-size-2xl);
}
.lable-md{
    font-size: var(--font-size-xl);
}
.lable-sm{
    font-size: var(--font-size-base);
}
.lable-xs{
    font-size: var(--font-size-sm);
}
.lable-num{
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-bold);
}