/* 按鈕文字大小 */
.size-xs { font-size: 14px; padding: 4px 8px; }
.size-sm { font-size: 16px; padding: 8px 16px; }
.size-md { font-size: 20px; padding: 10px 20px; }
.size-lg { font-size: 24px; padding: 12px 24px; }

/* 卡片文字 */
.card-title{
    font-size: 20px;
    font-weight:600;
    color: #333;
    text-align: left;
}
.card-sectitle{
    font-size: 16px;
    font-weight:600;
    color: #757575;
    text-align: left;
}
.card-content{
    font-size: 14px;
    color: #757575;
    text-align: left;
}

/* 標籤文字 */
.lable-lg{
    font-size: 24px;
}
.lable-md{
    font-size: 20px;
}
.lable-sm{
    font-size: 16px;
}
.lable-xs{
    font-size: 14px;
}
.lable-num{
    font-size: 40px;
    font-weight: bold;
}